<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>Post view</title>
		<link rel='stylesheet' href='../css/main.css'>
		<script defer src='../lib/view.js'></script>
	</head>
	<body>
		<section class='hero is-link'>
			<div class='hero-body'>
				<div class='container'>
					<div class='columns'>
						<div class='column is-8-desktop is-offset-2-desktop'>
							<h1 class='title is-2 is-spaced'>
								View post
							</h1>
							<h2 class='subtitle is-4'>
								<a class='button is-primary' href='../'>Back home</a>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class='section'>
			<div class='container'>
				<div class='card' style='max-width: 500px'>
					<div class='card-image'>
						<figure class='image is-4by3'>
							<img src='no' alt='No image was provided' id='image'>
						</figure>
					</div>
					<div class='card-content'>
						<div class='media'>
							<div class='media-content'>
								<p class='title is-4' id='post-title'><em>No title provided</em></p>
								<p class='subtitle is-6' id='author-twitter'></p>
							</div>
						</div>

						<div class='content' id='description'>
							<em>No description was provided</em>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class='footer has-text-centered'>
			<div class='container'>
				<div class='columns'>
					<div class='column is-8-desktop is-offset-2-desktop'>
						<p>
						<strong class='has-text-weight-semibold'>
							<a href='https://github.com/SiddharthShyniben/post-view'>Post view</a>
						</strong>
						</p>
						<p>
						<small>
							Source code licensed <a href='http://opensource.org/licenses/mit-license.php'>MIT</a>
						</small>
						</p>
						<p style='margin-top: 1rem;'>
						<a href='http://bulma.io'>
							<img src='made-with-bulma.png' alt='Made with Bulma' width='128' height='24'>
						</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
